version: 2
jobs:
  build:
    docker:
      - image: circleci/java:8-jdk
    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      - run: mvn clean install
