version: 2.1
jobs:
  build-jar:
    docker:
      - image: maven:3.6.3-jdk-11
    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      - run: mvn clean install
      - persist_to_workspace:
          root: /root/repo/application
          paths:
            - target/application.jar
            - Dockerfile

  build-docker-image:
    working_directory: ~/repo
    docker:
      - image: docker:19.03
    steps:
      - attach_workspace:
          at: /root/repo/application
      - run: docker login -u "{{ .Environment.GITHUB_USER }}" -p "{{ .Environment.GITHUB_TOKEN }}" docker.pkg.github.com
      - run: cd ./application && docker build -t docker.pkg.github.com/MeGustav/lolesports-schedule/schedulebot:latest .
      - run: docker push docker.pkg.github.com/megustav/lolesports-schedule/schedulebot:latest

workflows:
  version: 2.1
  build:
    jobs:
      - build-jar
      - build-docker-image:
          requires:
            - build-jar
